{% extends "base.html" %}

{% block newlinks %}
{% load static %}
<link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}

{% block content %}

<div id="discount-books">
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <table>

        {% for book in books_to_propose %}
        <tr>
            <td>{% include "books/book.html" with book_desc=book %}</td>
            <td id="add-to-cart">
                <form method="POST" action="{% url 'online_shop:add_to_cart' book.id  %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="btn" type="submit">
                        <i class="fas fa-cart-plus"></i>
                    </button> 
                </form>
            </td>
        </tr>
        {% endfor %}

    </table>
</div>

{% endblock %}
