{% extends "main_site/base.html" %}

{% block newlinks %}
	{% load static %}
	<link rel="stylesheet" href="{% static "main_site/css/index.css" %}">
{% endblock newlinks %}


{% block content %}

	<div id="discount-books">
		{% if error_message %}
		<p><strong>{{ error_message }}</strong></p>
		{% endif %}

		<table>
			{% for book in books_to_propose %}
			<tr>
				<td>{% include "books/book.html" with book_desc=book %}</td>
				<td id="add-to-cart">
					{% include "online_shop/cart_button.html" with book=book %}
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>

{% endblock content%}
