{% extends "base.html" %}

{% block newlinks %}
{% load static %}
<link rel="stylesheet" href="{% static "online_shop/css/view-cart.css" %}">
{% endblock newlinks %}

{% block content %}

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<div id="cart-books">
    {% if not books %}
        <h3> Shopping Cart is empty. </h3>
    {% else %}
        <table id="shopping_cart">
            {% for book in books %}
            <tr>
                <td>{% include "books/book.html" with book_desc=book %}</td>
                <td id="remove-from-cart">
                    <button class="btn" type="button">
                        <a href="{% url 'online_shop:remove_from_cart' book.id  %}">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                    </button> 
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>
    

{% endblock %}
